<<<<<<< HEAD
html{
    box-sizing: border-box;/* apply a natural box layout model to all elements, but allowing components to change https://www.paulirish.com/2012/box-sizing-border-box-ftw*/
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}

*, *:before, *:after {
    box-sizing: inherit; /** https://www.paulirish.com/2012/box-sizing-border-box-ftw/ **/
}



body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* No se toca de aqui hacia arriba, es parte de la configuracion*/



/** Globales **/
img{
    max-width: 100%; /**  Toma el ancho del div **/
}
.contenedor{
    width: 95%;
    max-width: 120rem; /** = 1200px **/

    margin: 0 auto 0 auto;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

/** Utilidades, son las que se utilizan frecuentemente en cualquier lugar**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 800px;
}
.encabezado-nosotros{
    font-weight: 300; /** Numero del tama単o tipo de la letra que se cargo desde google fonts **/
    text-align: center;
}

.contenido-centrado {
    max-width: 800px;
}

/** Botones **/

.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media ( min-width: 768px ){
    .boton{
        display: inline-block;
        flex: 0 0 auto; /**En caso de que sean hijos **/
    }
}
.boton:hover{ /*Hace que salga la mano al pasar sobre los botones*/
    cursor: pointer;
}


.boton-amarillo{
    background: #E08709;

}
.boton-verde{
    background: #71b100;
}


/*Header*/
.site-header{
    background: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem; 
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media ( min-width: 768px ){
    .contenido-header{
        text-align: left;  /* Para que el contenido se vaya a la izquierda en un dispositivo mas grande*/
    }
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;  /** maximo de anchura para el h1 y si se pasa crea otra linea **/
    line-height: 2; /** Interlineado */
}

.barra {
    padding-top: 3rem; /*espacio hacia adentro del elemento */
}
@media ( min-width: 768px ){
    .barra {
        display: flex;
        justify-content: space-evenly; /*alinea verticalmente uno a la derecha y otro a la izquierda*/
        align-items: center;  /*alinea horizontalmente*/
    }
}



/** Navegacion **/
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block; /*Hace que cada uno de los enlaces tome una linea*/
}

@media ( min-width: 768px ){ /*768px porque se hacen inicialmente para una tablet**/
    .navegacion a{
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type{  /*last-of-type se le conoce como  pseudoselector, remueeve el margin a la derecha*/
        margin: 0;
    }
}

.navegacion a:hover{  /*hover se le conoce como  pseudoselector*/
    color: #71b100;
}


/** Iconos Nosotros **/
@media ( min-width: 768px ){
    .iconos-nosotros{
        display: flex; /** Alinea los recuadros de nostros**/
        justify-content: space-between;
    }
}


.icono{/**Mobile first el que aplica todo primero **/
    text-align: center;
}
@media ( min-width: 768px ){/**El que aplica despues para pantalla de escritorio**/
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}

.icono h3{  /** solo afecta a los h3 del div iconos-nosotros**/
    text-transform: uppercase;
}

/** Contenedor Anuncio **/
@media ( min-width: 768px ) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }    
}

.anuncio{
   /* border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;*/ /* hace lo mismo que la linea de abajo*/
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem; /** Separacion hacia afuera Agrega separacion entre las filas 3 de arriba y 3 de abajo **/
}

@media ( min-width: 768px ) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
        /**flex-grow: 0; para que el contenido crezca si es posible
        flex-shrink: 0; para que el contenido sea mas peque単o si es posible**/ /** Hace que no se encoja **/
        /**flex-basis: calc(33.3% - 1rem);**/
    }
}

.contenido-anuncio{
   /* padding-top: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;*/  /* hace lo mismo que la linea de abajo*/
    padding: 2rem 4rem 2rem 4rem;
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    /**Usado en pagina anuncio**/
    flex: 1;/**Separa los numeros de los iconos en la pagina anuncio**/
    max-width: 500px; /**Usado para la pagina anuncio pero no afecta a la pagina index**/
}
.iconos-caracteristicas li{
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home  **/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}
.contenido-contacto{
    flex: 0 0 95%;
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
}

/** Seccion Inferior  **/
@media (min-width: 768px){
    .seccion-inferior{
        display:flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog{
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
    
}



.entrada-blog{
     margin-bottom: 2rem;
}

@media ( min-width: 768px ) { /* Va hacer que las imagenes se muestren mas grandes*/
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media ( min-width: 768px ) {
    .entrada-blog .imagen{
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 3rem);
    }
}


.texto-entrada a{
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after{ /** ::After es un Pseudo Elemento  **/
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

/** Testimoniales **/
.testimonial{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content:'';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/** Footer **/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.site-footer nav{  
    display: none;  /*Va hacer que se oculte ese footer los elementos contenidos*/
}

@media ( min-width: 768px ){
    .site-footer nav{
        display: block;
    }
}


.contenedor-footer{
    padding: 3rem 0;
    text-align: center;
    color: #ffffff;
}

@media ( min-width: 768px ) {
    .contenedor-footer{  /*Esto va hacer que se vea arriba y abajo y derecho*/
    display: flex;
    justify-content: space-between;
    }
}

.copyright{
    margin: 0;
}

/** INTERNAS **/
/**Nosotros**/

@media ( min-width: 768px ) {
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);/** hace lo mismo que repeat50% para el texto y 50 para la imagen**/
        grid-column-gap: 2rem;
    }
}


.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding:1rem 0 3rem 0;
}

/**Anuncio**/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;/**Alinea horizontalmente**/
    align-items: center;/**Alinea verticalmente**/
}


/** CONTACTO **/
.contacto p{
    font-size: 1.335rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2.2rem;
    color: #333333;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block; /**Tomatodo el espacio disponible*/
}

/*input[type="text"], input[type="email"]{*/
input:not([type="submit"]),textarea,select{
    padding: 1rem; /*Padding Mete espacio hacia adentro*/
    display: block;
    width: 100%;
    background: #e1e1e1;
    margin-bottom: 2rem; /*da espacio despues del input, es decir da la separacion de interlineado como en winword*/
    border: none;  /*Sin bordes*/
    border-radius: 1rem; /*Redondea las esquinas de la caja de texto*/
}
input [type="radio"]{
    width: auto;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html{
    box-sizing: border-box;/* apply a natural box layout model to all elements, but allowing components to change https://www.paulirish.com/2012/box-sizing-border-box-ftw*/
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}

*, *:before, *:after {
    box-sizing: inherit; /** https://www.paulirish.com/2012/box-sizing-border-box-ftw/ **/
}



body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* No se toca de aqui hacia arriba, es parte de la configuracion*/



/** Globales **/
img{
    max-width: 100%; /**  Toma el ancho del div **/
}
.contenedor{
    width: 95%;
    max-width: 120rem; /** = 1200px **/

    margin: 0 auto 0 auto;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

/** Utilidades, son las que se utilizan frecuentemente en cualquier lugar**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}
.contenido-centrado{
    max-width: 800px;
}
.encabezado-nosotros{
    font-weight: 300; /** Numero del tama単o tipo de la letra que se cargo desde google fonts **/
    text-align: center;
}

.contenido-centrado {
    max-width: 800px;
}

/** Botones **/

.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media ( min-width: 768px ){
    .boton{
        display: inline-block;
        flex: 0 0 auto; /**En caso de que sean hijos **/
    }
}
.boton:hover{ /*Hace que salga la mano al pasar sobre los botones*/
    cursor: pointer;
}


.boton-amarillo{
    background: #E08709;

}
.boton-verde{
    background: #71b100;
}


/*Header*/
.site-header{
    background: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem; 
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media ( min-width: 768px ){
    .contenido-header{
        text-align: left;  /* Para que el contenido se vaya a la izquierda en un dispositivo mas grande*/
    }
}

.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;  /** maximo de anchura para el h1 y si se pasa crea otra linea **/
    line-height: 2; /** Interlineado */
}

.barra {
    padding-top: 3rem; /*espacio hacia adentro del elemento */
}
@media ( min-width: 768px ){
    .barra {
        display: flex;
        justify-content: space-evenly; /*alinea verticalmente uno a la derecha y otro a la izquierda*/
        align-items: center;  /*alinea horizontalmente*/
    }
}



/** Navegacion **/
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block; /*Hace que cada uno de los enlaces tome una linea*/
}

@media ( min-width: 768px ){ /*768px porque se hacen inicialmente para una tablet**/
    .navegacion a{
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type{  /*last-of-type se le conoce como  pseudoselector, remueeve el margin a la derecha*/
        margin: 0;
    }
}

.navegacion a:hover{  /*hover se le conoce como  pseudoselector*/
    color: #71b100;
}


/** Iconos Nosotros **/
@media ( min-width: 768px ){
    .iconos-nosotros{
        display: flex; /** Alinea los recuadros de nostros**/
        justify-content: space-between;
    }
}


.icono{/**Mobile first el que aplica todo primero **/
    text-align: center;
}
@media ( min-width: 768px ){/**El que aplica despues para pantalla de escritorio**/
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}

.icono h3{  /** solo afecta a los h3 del div iconos-nosotros**/
    text-transform: uppercase;
}

/** Contenedor Anuncio **/
@media ( min-width: 768px ) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }    
}

.anuncio{
   /* border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;*/ /* hace lo mismo que la linea de abajo*/
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem; /** Separacion hacia afuera Agrega separacion entre las filas 3 de arriba y 3 de abajo **/
}

@media ( min-width: 768px ) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
        /**flex-grow: 0; para que el contenido crezca si es posible
        flex-shrink: 0; para que el contenido sea mas peque単o si es posible**/ /** Hace que no se encoja **/
        /**flex-basis: calc(33.3% - 1rem);**/
    }
}

.contenido-anuncio{
   /* padding-top: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;*/  /* hace lo mismo que la linea de abajo*/
    padding: 2rem 4rem 2rem 4rem;
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    /**Usado en pagina anuncio**/
    flex: 1;/**Separa los numeros de los iconos en la pagina anuncio**/
    max-width: 500px; /**Usado para la pagina anuncio pero no afecta a la pagina index**/
}
.iconos-caracteristicas li{
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home  **/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}
.contenido-contacto{
    flex: 0 0 95%;
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
}

/** Seccion Inferior  **/
@media (min-width: 768px){
    .seccion-inferior{
        display:flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog{
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
    
}



.entrada-blog{
     margin-bottom: 2rem;
}

@media ( min-width: 768px ) { /* Va hacer que las imagenes se muestren mas grandes*/
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media ( min-width: 768px ) {
    .entrada-blog .imagen{
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 3rem);
    }
}


.texto-entrada a{
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after{ /** ::After es un Pseudo Elemento  **/
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada span{
    color: #E08709;
}

/** Testimoniales **/
.testimonial{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content:'';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/** Footer **/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.site-footer nav{  
    display: none;  /*Va hacer que se oculte ese footer los elementos contenidos*/
}

@media ( min-width: 768px ){
    .site-footer nav{
        display: block;
    }
}


.contenedor-footer{
    padding: 3rem 0;
    text-align: center;
    color: #ffffff;
}

@media ( min-width: 768px ) {
    .contenedor-footer{  /*Esto va hacer que se vea arriba y abajo y derecho*/
    display: flex;
    justify-content: space-between;
    }
}

.copyright{
    margin: 0;
}

/** INTERNAS **/
/**Nosotros**/
.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);/** hace lo mismo que repeat50% para el texto y 50 para la imagen**/
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding:1rem 0 3rem 0;
}

/**Anuncio**/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;/**Alinea horizontalmente**/
    align-items: center;/**Alinea verticalmente**/
}


/** CONTACTO **/
.contacto p{
    font-size: 1.335rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2.2rem;
    color: #333333;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block; /**Tomatodo el espacio disponible*/
}

/*input[type="text"], input[type="email"]{*/
input:not([type="submit"]),textarea,select{
    padding: 1rem; /*Padding Mete espacio hacia adentro*/
    display: block;
    width: 100%;
    background: #e1e1e1;
    margin-bottom: 2rem; /*da espacio despues del input, es decir da la separacion de interlineado como en winword*/
    border: none;  /*Sin bordes*/
    border-radius: 1rem; /*Redondea las esquinas de la caja de texto*/
}
input [type="radio"]{
    width: auto;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
>>>>>>> 28cf91dc37e753b8f0c2346dcc0c8335bf763b19
}